#Database configuration for localhost Server
DB_CONNECTION = mongodb://
DB_HOST = localhost:27017
MONGO_HOST = mongodb+srv:/
DB_NAME = 
DB_USER = 
DB_CLUSTER = 
DB_PASSWORD = 
ENVIROMENT = 

AUTH_URL = 
BOT_APIKEY = 
BOT_TOKEN = 
TELEGRAM_BOT_TOKEN = 